@{
    ViewData["Title"] = "Delete Movie";
}

@model NewMovie

<div class="container">
    <h2>Are you sure you want to delete @Model.Title from the Movie List?</h2>

    <form asp-controller="Home" asp-action="Delete">
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-primary" asp-controller="Home" asp-action="MovieList">Cancel</a>

        <input type="hidden" asp-for="MovieID"/>
    </form>
</div>