@{
    ViewData["Title"] = "Podcasts";
}

<div class="text-center">
    <h1 class="display-4">Podcasts</h1>
    <br />
    <p>Check out the best <a href="https://baconsale.com">Bacon Podcast</a> out there!</p>
</div>